.fullTrack {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.track {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 100vh;
}

.trackImg {
    height: 100%;
}

.entryNumber {
    color: white;
    font-weight: 300;
    font-style: italic;
    font-size: 5vh;
}

.songTitle {
    color: white;
    font-weight: 700;
    font-size: 5vh;
}

.artist {
    color: white;
    font-weight: 400;
    font-size: 4vh;
}

.flexElement {
    margin: 4px;
}

.arrow {
    margin-bottom: 65px;
}

.bandcamp {
    align: center;
    border: 0;
    width: 500px;
    max-width: 95%;
    height: 120px;
}
.soundcloud {
    /* align: center;
    border: 0; */
    width: 500px;
    max-width: 95%;
    height: 120px;
    margin: 8px;
}