.card {
    width: 800px;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 8px;
}

.cardTrackInfo {
    display: flex;
    flex-direction: column;
}

.cardNumber {
    text-align: right;
    font-weight: 300;
    font-style: italic;
    font-size: 2.8em;
    margin: 0px 6px 0px 0px;
}


.cardSongName {
    text-align: left;
    font-weight: 700;
    font-size: 3em;
    margin-left: 06px;
}

.cardArtistName {
    text-align: left;
    font-weight: 300;
    font-size: 3em;
    margin: 0px 0px 4px 6px;
}