@import url("https://fonts.googleapis.com/css?family=Montserrat:300italic,400,600,700");

.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

/* .track {
  min-height: 100vh;
} */