.Archive {
    background-color: #232323;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.archiveTitle {
    color: white;
    text-align: left;
    padding: 24px 16px;
    margin: 0;
    font-size: 4em;
}

body > #root > div {
    height: 100vh;
  }