.Nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    color: black;
    background: rgba(0,0,0,0.3);
}

.navLink {
    margin-right: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 3vh;
    font-weight: 800;
}

.link {
    text-decoration: none;
}

#navWrapper {
    display: flex;
    padding: 8px 0px;
}

#logo {
    font-size: 4.5vh;
    font-weight: 800;
    padding: 8px;
}